<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="footer.css">
</head>
<body>

<div class="contenedor">
  <div class="row">
    <div class="col-md-12">
      <h2>Síguenos en nuestras redes sociales:</h2>
    </div>
  </div>
  
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="d-flex justify-content-start mt-3">
        <a href="https://facebook.com/faicont" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/faicont" target="_blank"><i class="fab fa-twitter ml-3"></i></a>
        <a href="https://instagram.com/faicont" target="_blank"><i class="fab fa-instagram ml-3"></i></a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="text-right mt-3">
        <img src="https://coomotor.com.co/wp-content/uploads/2020/03/logo_grupocoomotor.png" height="45px" width="250px" alt="Logo">
      </div>
    </div>
  </div>
</div>
</body>
</html>
