# Archivos y directorios generados por el sistema
.DS_Store
Thumbs.db

# Archivos de configuración específicos del editor
.vscode/
.idea/

# Archivos de compilación o resultados
*.o
*.pyc
*.class

# Archivos de configuración local
config.ini

# Directorio de dependencias de Node.js
node_modules/

# Archivos de registro y temporales
logs/
temp/

