<!DOCTYPE html>
<html>
<head>
  <title>Página de inicio</title>
  <link rel="stylesheet" href="/bootstrap.css">
  <link rel="stylesheet" href="/style.css">

</head>
<body>
 
 <h1>comotor</h1>

</body>
</html>
