<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="inico.css">
  <title>Coomotor</title>
  <style>
    body, html {
      height: 100%;
    }
    .container-center {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-height: 100vh;
    }
    .input-container {
      margin-bottom: 1rem;
    }
    .img-container {
      margin-bottom: 1rem;
    }
    .descarga-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  </style>
</head>
<body>
  <header>
    <%- include('partials/navigation.ejs') %>
  </header>
  <div class="container-center">
    <div class="text-center">
      <div class="input-container">
        <h2>Compra tus pasajes</h2>
        <form>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Ciudad de origen">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Destino">
          </div>
          <div class="mb-3">
            <label for="fecha" class="form-label">Selecciona una fecha:</label>
            <input type="date" class="form-control" id="fecha" name="fecha">
          </div>
          <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
      </div>
      <div class="img-container">
        <h2>Tu mascota también viaja con nosotros</h2>
        <img src="https://coomotor.com.co/wp-content/uploads/2023/07/mascotas.png" alt="Mascotas" class="img-fluid">
      </div>
      <h2>descarga nuestra app en </h2>
      <div class="descarga-container">
        
        <a href="https://play.google.com/store/apps/details?id=co.com.coomotorltda&hl=es">
          <img src="https://www.gstatic.com/android/market_images/web/play_prism_hlock_2x.png" alt="Google Play Store" class="img-fluid">
        </a>
        <a href="https://apps.apple.com/co/app/coomotor-ltda/id1316140429?l=en">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Download_on_the_App_Store_Badge.svg/1024px-Download_on_the_App_Store_Badge.svg.png" alt="App Store" class="img-fluid">
        </a>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <footer>
    <%- include('partials/footer.ejs') %>
  </footer>
</body>
</html>
