<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/nosotros.css">
  <title>Coomotor</title>
</head>
<body>
  <header>
    <%- include('partials/navigation.ejs') %>
  </header>
  <section id="nosotros">
    <div class="contenedor-foto">
        <img src="/nosotros1.png" alt="">
    </div>
    <div class="nosotros">
        <h2 class="titulo-seccion">Misión</h2>
        <p>COOMOTOR es una empresa de transporte terrestre nacional de pasajeros y encomiendas, 
            que crece continuamente para contribuir al desarrollo sostenible del país, 
            a mejorar el nivel de vida de nuestros clientes, asociados, colaboradores, proveedores y sus familias. 
            Apoyados en un moderno parque automotor para ofrecer servicios de alta calidad, con efectividad, seguridad y puntualidad.</p>
        <a href="https://coomotor.com.co/nosotros/organizacion/" target="_blank">Visión</a>
        <a href="https://coomotor.com.co/nosotros/organizacion/" target="_blank">Reseña Historica</a>
        <a href="https://coomotor.com.co/nosotros/organizacion/" target="_blank">Valores Coorporativos</a>
        <a href="https://coomotor.com.co/nosotros/organizacion/" target="_blank">Identificación</a>
    </div>

</section>

</body>