<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/nosotros.css">
  <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
  <link rel="icon" type="image/x-ico" href="/logo.ico">
  <title>Coomotor</title>
</head>
<body>
  <header>
    <%- include('partials/navigation.ejs') %>
  </header>
  <section id="nosotros">
    <div class="contenedor-foto">
        <img src="/nosotros1.png" alt="">
    </div>
    <div class="nosotros">
        <h2 class="titulo-seccion">Misión</h2>
        <p>COOMOTOR es una empresa de transporte terrestre nacional de pasajeros y encomiendas, 
            que crece continuamente para contribuir al desarrollo sostenible del país, 
            a mejorar el nivel de vida de nuestros clientes, asociados, colaboradores, proveedores y sus familias. 
            Apoyados en un moderno parque automotor para ofrecer servicios de alta calidad, con efectividad, seguridad y puntualidad.</p>
    </div>
</section>
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          VISIÓN
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body text-center">
          <strong>Visión:</strong> Seremos en el año 2025 la empresa Colombiana más confiable en el transporte aéreo y terrestre de pasajeros – encomiendas.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          VALORES COORPORATIVOS
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body text-center">
          <strong>Valores Cooporativos:</strong> 

          <ul class="text-center">
          <li><strong>Pasión Por Servir</strong>
          Es compromiso de todo el componente humano en COOMOTOR satisfacer al cliente para que él se deleite con nuestro servicio.
          </li>
          <li><strong>Lealtad</strong>
            Los colaboradores de COOMOTOR deben respetarla siempre dentro y fuera de ella, realizando actos que conlleven a la efectividad y al mejoramiento de su imagen institucional.
          </li>
          <li><strong>Competitividad</strong>
            En COOMOTOR somos conscientes de la existencia de otras empresas que buscan desplazarnos, por ello todos los días trabajamos para permanecer en el mercado y ser los más importantes del sector transportador en el ámbito nacional.
          </li>
          <li><strong>Respeto</strong>
            En COOMOTOR el cliente, los proveedores y colaboradores de la organización, merecen nuestra admiración y aprecio, por ser nuestra principal fuente de dinamismo y desarrollo.
          </li>
          <li><strong>Honestidad</strong>
            Los colaboradores en COOMOTOR trabajan con honradez y rectitud en todas sus acciones, siendo coherentes entre lo que piensan, dicen y hacen.
          </li>
          <li><strong>Compromiso</strong>
            En COOMOTOR el cliente es lo primero para el logro de los objetivos y el cumplimiento de estos valores, por ello contamos con el liderazgo y la capacidad de entrega de todos los colaboradores.
          </li>
        </ul>

        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          IDENTIFICACIÓN
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
        <div class="accordion-body text-center">
          <strong>Identificación:</strong>
          <ul class="text-center">
            <li><strong>Razón Social</strong>
              Cooperativa de Motoristas del Huila y Caquetá Limitada.
            </li>
            <li><strong>Nit</strong>
              891100279-1
            </li>
            <li><strong>Sigla</strong>
              COOMOTOR
            </li>
            <li><strong>Slogan</strong>
              Su mejor compañía
            </li>
            <li><strong>Email</strong>
              calidad@coomotor.com.co
            </li>
            <li><strong>Página Web</strong>
              www.coomotor.com.co
            </li>
            <li><strong>Línea gartuita de servicio al cliente</strong>
              01 8000 910293
            </li>
            <li><strong>Colores corporativos</strong>
              Azul y Blanco
            </li>
            <li><strong>Significado del logo Símbolo</strong>
              Cabeza de un Halcón en pleno vuelo, posición horizontal, con lateralidad al costado derecho, que significa en las culturas diestras orden, pujanza y esperanza en el futuro.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<footer>
    <%- include('partials/footer.ejs') %>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>