body {
    background-color:white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2d51ee; /* Cambia esto al color de fondo de tu footer */
    padding: 20px; /* Ajusta según tus necesidades */
    text-align: center;
}

  

