h2 {
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    padding: 10px;
  }
  
  .col-md-6 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
.contenedor {
    background-color: rgb(15, 104, 221);
  }

