.nav {
    display: flex; 
    align-items: center; 
    justify-content: space-evenly;
    color: white;
    background-color: rgb(94, 206, 206);
  }
  
  .nav img {
    margin-right: 10px; 
  }
  
  .nav ul {
    list-style: none; 
    display: flex; 
  }
  
  .nav li {
    margin-right: 20px; 
  }